<div class="card mb-4">

    <img class="card-img-top" src="<%= challenge.cover.original%>" alt="challenge cover">
    <div class="card-body">
      <h3 class="card-title"><%=challenge.challenge_title%></h2>
      <p class="card-text"><%=challenge.body%></p>
      <a href="#" class="btn btn-primary">مشاهده</a>
    </div>
    <div class="card-footer text-muted">
      ایجاد شده در تاریخ<%=challenge.createdAt%> توسط  <%=challenge.challenge_user%>
    </div>
  </div>