<div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-2 px-2">
  <div class="card" style="position: relative; border-radius: 40px;height: 100%;" >

    <div class="card-body" style="position: relative;">
      <%let body = textOverflowCloser(post.body);%>
      <p class="card-text "><%=body%></p>
      <a href="/cl/show/<%=post.id%>/post" class="btn btn-primary" style="border-radius: 40px; position: relative;">مشاهده</a>
    </div>
    <div class="card-footer text-muted bg-secondary " style="border-radius: 40px ;height: 50px;">
      <div
        class="d-inline-flex flex-row text-white justify-content-center" style="width: 100%;"
      >
        <div class="p-2 text-white d-flex " style="font-size: x-small;">
          <i class="far fa-clock"></i>
          <%=ToPersianDate(post.createdAt).fromNow()%>
        </div>
        <div class="p-2 text-white d-flex " style="font-size: x-small;">
          <i class="far fa-user"></i> <%=username%>
        </div>
        <div class="p-2 text-white d-flex " style="font-size: x-small;">
           <a href=""><i class="far fa-heart ml-1"></i><%=post.credits.length%></a>
        </div>
      </div>
    </div>
  </div>
</div>
